<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        New website
    </title>
</head>

<body>
    <h1>
        Maintenance
    </h1>
    <p>
        Under update
    </p>
    {{> footer}}
</body>

</html>